<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectfare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectFare">
        <activity
            android:name=".activityfiles.EditActivity"
            android:exported="false"
            android:theme="@style/MyBar"
            android:label="@string/edit_data"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activityfiles.ItemViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/MyBar" />
        <activity
            android:name=".activityfiles.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activityfiles.MyEstablishmentList"
            android:exported="false"
            android:label="@string/favourite"
            android:screenOrientation="portrait"
            android:theme="@style/MyBar" />
        <activity
            android:name=".activityfiles.AddEstablishment"
            android:exported="false"
            android:label="@string/addEstablishment"
            android:screenOrientation="portrait"
            android:theme="@style/MyBar" />
        <activity
            android:name=".activityfiles.Setting"
            android:exported="false"
            android:label="@string/setting"
            android:screenOrientation="portrait"
            android:theme="@style/MyBar" />
        <activity
            android:name=".activityfiles.Profile"
            android:exported="false"
            android:label="@string/profile"
            android:screenOrientation="portrait"
            android:theme="@style/MyBar" />
        <activity
            android:name=".activityfiles.Menu"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/MyBar" />
        <activity
            android:name=".activityfiles.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>